.exercisesContainer{
  width: 90%;

  border: 2px solid rgb(138, 138, 138);
  border-radius: 10px;

  padding: 10px;

  margin-top: 20px;
}

.exercisesBox{
  width: 100%;
  text-align: left;

  padding: 10px;
}

.exercisesOptions{
  display: flex;
  flex-direction: column;

  width: 100%;
}

.option{
  margin-bottom: 10px;
}

.option input{
  width: 90%;

  padding: 5px;

  margin-left: 10px;
}

.exercisesTitle{
  margin-bottom: 20px;
}

.exercisesTitle input{
  width: 100%;

  padding: 10px;

  border: none;
  outline: none;

  border-bottom: 2px solid #ccc;

  font-size: 1.1rem;

  opacity: 0.8;
}

.answer label{
  margin-right: 10px;
}

.answer input{
  width: 50px;
  padding: 5px;

  border: 1px solid #ccc;

  outline: none;
}