  .control{
    position: absolute;

    top: 0;

    width: 200px;
    height: 50px;

    background-color: #ccc;
  }

  .document{
    position: relative;

    display: flex;
    justify-content: center;

  }

  