.homePanel .headerHomePanel{
    margin-bottom: 50px;
}

.homePanel .headerHomePanel{
    font-family: var(--inter);
    opacity: 0.8;
    font-size: 1.3rem;
}

.bodyHomePanel{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.bodyHomePanel 



.bodyHomePanel .boxOption p {
    margin-left: 10px;
}

/*PANEL HOME MOBILE */

@media (max-width: 700px){
    .bodyHomePanel{
        padding: 10px;
    }
    .bodyHomePanel .trainingBox{
        border-radius: 50px;
        padding-left: 10px;
        width: 100%;
    }
}