.ModalQuestion{
  width: 100%;
  height: 100%;

  padding: 20px;

  background-color: white;

  overflow-y: auto;
}

.inputBox{
  display:flex;

}

.bodyModal{
  margin-top: 20px;
  padding: 10px;
}

.questionContainer{
  margin-bottom: 50px;
}

.questions{
  margin-top: 10px;
}

.boxQuestion{
  margin-bottom: 10px;
}

.boxQuestion input{
  margin-right: 5px;
}

.completeCourse{
    display: flex;
    justify-content: center;
    align-items: center;    

    width: 250px;
    padding: 10px 0px;

    font-size: 1rem;

    border: none;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

    cursor: pointer;
    color: white;
    background-color: #017828;
}

.completeCourse:hover{
  background-color: #076025;
}

.complete{
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 100%;
}

.detailsComplete{
  text-align: center;
}

.detailsComplete .icon p{
  font-size: 6rem;
  color: #017828;
}

.detailsComplete .details{
  margin-bottom: 50px;

  opacity: 0.8;
}

.downloadCertificate a{
  text-decoration: none;

  background-color: #017828;
  color: white;

  border-radius: 5px;

  padding: 20px;
}

.disapproved{
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 20px;

  background-color: rgb(208, 68, 68);
  color: rgb(255, 255, 255);

  border-radius: 5px;

  box-shadow: 2px 2px 5px 2px #ccc;
}

.disapproved p:nth-child(1){
  font-size: 2rem;
}

.certificate{
  position: relative;

  display: flex;
  flex-direction: column;

  width: 1400px;
  height: 850px;

  min-width: 1400px;
  min-height: 850px;

  border: 2px solid black;

  background-color: white;

}

.certificate .background{
  position: absolute;

  display: flex;

  width: calc(50px + 20px);
  height: 100%;
}

.certificate .background .asset1{
  width: 50px;
  height: 100%;

  background-color: #076025;
}

.certificate .background .asset2{
  width: 20px;
  height: 100%;

  background-color: #068731;
}

.certificate .container{
  padding: 20px;
  
  position: relative;
  
} 

.certificate .header h1{
  text-align: left;

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3rem;
  color: #017828;

  margin-left: 60px;
  margin-bottom: 20px;
}

.certificate .container .content{
  margin-left: 60px;
}

.containerContent{
  display: flex;
}

.certificate .container .content h2{
  margin-bottom: 10px;
}

.certificate .container .content .text{
  margin-bottom: 20px;

  font-size: 1.2rem;
}

.teoricalContent{
  border: 1px solid black; 

  max-width: 400px;
  height: auto;
}

.teoricalContent p{
  padding: 5px;
}

.praticalContent{
  border: 1px solid black; 

  max-width: 400px;
  height: auto;
}
.praticalContent p{
  padding: 5px;
}

.responsavel{
  border: 1px solid black; 
  padding:5px;

  width: 400px;
  text-align: center;
}

.first p:nth-child(4){
  font-size: 1rem;
}

.first{
  border: 1px solid black;
  padding: 2px; 

  margin-top: 2px;

  font-size: 1rem;
}

.first ul li{
  list-style: none;
  font-size: 0.9rem;
}

.expiration{
  margin-top: 10px;
  background-color: rgb(234, 234, 234);

  border-radius: 10px;

  padding: 10px;
}

.expiration h2{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.signature{
  position: absolute;
  right: 30px;

  margin-top: 20px;
}

.signature .signatureContainer{
  display: flex;

  align-items:stretch;
}

.signature .signatureContainer p{
  border-top: 2px solid black;

  width: 250px;

  margin-top: 50px;
  margin-left: 20px;
}

.footer{
  position: absolute;
  bottom: -190px;

  margin-left: 55px;
  padding: 10px;
}

.footer p:nth-child(1){
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;

  color: #017828;
}

.footer hr{
  margin-top: 10px;
  margin-bottom: 10px;
}

.close{
  z-index: 999;

  position: absolute;
  top: 10px;
  right: 50px;
}

@media (max-width: 700px){
  .completeCourse{
    width: 100%;
    height: 50px;
  }
}

